/* Avenir Next Regular */
@font-face {
    font-family: 'Avenir Next';
    src: url('./avenir-next/AvenirNext-Regular.woff2') format('woff2'),
         url('./avenir-next/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Avenir Next Bold */
@font-face {
    font-family: 'Avenir Next';
    src: url('./avenir-next/AvenirNext-Bold.woff2') format('woff2'),
         url('./avenir-next/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}