@font-face {
    font-family: 'Avenir Next';
    src: url('./Avenir_Next/AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Avenir Next Bold */
@font-face {
    font-family: 'Avenir Next';
    src: url('./Avenir_Next/AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* SF Compact Text Regular */
@font-face {
    font-family: 'SF Compact';
    src: url('./SfCompact/SF-Compact-Text-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}