//COLORS
$primary-olive: #39CDCC ;
$primary-green: #39CD62 ;
$primary-red: #E4033B ;
$primary-yellow: #E9B200 ;
$primary-grey: #545F7D ;
$primary-blue: #213F7D;
$primary-blue-light: #213F7D0F;
$primary-white: #fff;
$box-shadow2: 0px 5px 20px 0px #0000000A;
$box-shadow1: 3px 5px 20px 0px #0000000A;
$box-shadow3: 3px 0px 20px 0px #0000000A;





//FONTS
$font-xs:1.2rem  ;
$font-sm: 1.4rem;
$font-md: 1.6rem;
// $font-bg: ;
$font-Lg:2.4rem;
