//COLORS
$primary-olive: #39CDCC ;
$primary-olive-light: #f3fcfc; 
$primary-green: #39CD62 ;
$primary-green-light: #39CD620F ;
$primary-red: #E4033B ;
$primary-red-light: #E4033B1A ;
$primary-yellow: #E9B200 ;
$primary-yellow-light: #E9B2001A;
$primary-grey: #545F7D ;
$primary-grey-light: #545F7D0F ;
$primary-grey-border:#545F7D24;
$primary-grey-box:#545F7D33;
$primary-grey-num: #545F7D99;
$primary-blue: #213F7D;
$primary-blue-light: #213F7D0F; 
$primary-blue-border:#213F7D1A;
$transparent: transparent;

$primary-white: #fff;
$box-shadow2: 0px 5px 20px 0px #0000000A;
$box-shadow1: 3px 5px 20px 0px #0000000A;
$box-shadow3: 3px 0px 20px 0px #0000000A;





//FONTS
$font-xs:1.2rem  ;
$font-xss:.8rem  ;
$font-sm: 1.4rem;
$font-md: 1.6rem;
$font-md2: 2rem;
$font-md3: 2.2rem;
// $font-bg: ;
$font-Lg:2.4rem;
$font-Jumbo:4rem;


$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;



$font-primary: 'Work Sans', -apple-system, BlinkMacSystemFont, sans-serif;
$font-system: -apple-system, BlinkMacSystemFont, sans-serif;
$font-avenir: 'Avenir Next', -apple-system, BlinkMacSystemFont, sans-serif;
$font-sf-compact: 'SF Compact Text', -apple-system, BlinkMacSystemFont, sans-serif;
