@use '../styles/variables' as var;

.usersPage{
   
    // margin: 0 auto;
   
    

    &_title{
        margin-bottom: 4rem;
        text-align: left
    }


      &_cardsCont{
        display: flex;
        width: 103.7rem;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

        
   

      &_table{
        width: calc(103.7rem - 6rem);
        padding: 3rem 3rem;
        background-color: var.$primary-white;
        
    }

      &_pageNav{
         width: 100%;
    }


}