@use '../styles/variables' as var;
@import '../styles/mixins';

.usersPage{
    h1{
        color: var.$primary-blue
    }
    &_title{
        margin-bottom: 4rem;
        text-align: left
    }

    &_cardsCont{
        display: flex;
        width: 103.7rem;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &_table{
        width: calc(103.7rem - 6rem);
        padding: 3rem 3rem;
        background-color: var.$primary-white;
        border: 1px solid var.$primary-blue-border;
        box-shadow: var.$box-shadow1  ;
        height: calc(78.2rem - 6rem);
    }

      &_pageNav{
         width: 100%;
    }

    @include desktop-down {

        width: 86rem;
        &_cardsCont{
        
            width: 100%;
        
        }
        &_table{
            width: 100%;
            overflow-x: scroll;
            box-sizing: border-box;

        
        
        }   
    }

    @include mobile-down{
        width: 100%;
        &_cardsCont{
        
           width: 100%;
           
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            margin-bottom: 2rem;
        

        
        }
        &_table{
            width: 100%;
            overflow-x: scroll;
            box-sizing: border-box;
        
        
        }  
    }
}