@use '../../styles/variables' as var;
.smBtn{
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 4px;
    background-color: var.$primary-blue-border;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var.$font-sm;
    

}