@use '../../styles/variables' as var;
@import '../../styles/mixins';

.header{
    background-color: #fff;
    height: 10rem;
    width: calc(100vw - 7.6rem );
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    box-shadow: var.$box-shadow3;
    z-index: 1;

 

    &_userInfo{
     width: 26rem;
     height: 4.8rem;
     display: flex;
     align-items: center;

      &_notif{
        margin-left: 4.8rem ;
        margin-right: 3rem ;
        cursor: pointer;
        
       
        
      
      }
      &_link{
        font-size: var.$font-md;
      }

      &_image{
        height: 4.8rem;
        width: 4.8rem;
        margin-right: 1rem;
      }

      

      &_expand{
        width: 8.2rem;
        display: flex;
        justify-content: space-between;
        font-size: var.$font-md;
        cursor: pointer;
      }


    }

    &_logo{
        width: 14.8rem;
        height: 3rem;
        
    }

    &_ham{
       display: none;
        
    }


    @include desktop-down {
        
        
    }

    @include mobile-down{
      width: calc(100vw - 6rem );
      &_ham{
       display: block;
        
    }
      &_expand{
       
        display: none;
        
      }
      &_userInfo{
        width: 4rem;
       

        div{
          &:first-of-type{
             width: 4rem;
          }
        }
        &_link{
          display: none;
        }

        &_expand{
          display: none;
        }
        &_image{
          display: none
        }

        &_notif{
          margin-left:0;
          margin-right: 0;
          width: 3rem;
        }
      }

      &_logo{
        display: none;
        
      }
        
    }

   

}