@use '../../styles/variables' as var;

.header{
    background-color: #fff;
    height: 10rem;
    width: calc(100vw - 7.6rem );
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    box-shadow: var.$box-shadow3;
    z-index: 1;

 

    &_userInfo{
     width: 26rem;
     height: 4.8rem;
     display: flex;
     align-items: center;

   
      &_link{
        font-size: var.$font-md;
      }

      &_image{
        height: 4.8rem;
        width: 4.8rem;
        margin-right: 1rem;
      }

      &_notif{
        margin-left: 4.8rem ;
        margin-right: 3rem ;
        
      
      }

      &_expand{
        width: 8.2rem;
        display: flex;
        justify-content: space-between;
        font-size: var.$font-md;
      }


    }

    &_logo{
        width: 14.8rem;
        height: 3rem;
        
    }

   

}