@use '../../styles/variables' as var;
@import '../../styles/mixins';
.searchbar {
    width: calc(40rem );
    height: 4rem;
    border: 1px solid var.$primary-blue;
    border-radius: .8rem;
    display: flex;
    overflow: hidden;

    form{
        height: 100%;
        box-sizing: border-box;
        width: 100%;
    }

    &_button{
        width: 5.6rem;
        height: 4rem;
        background-color: var.$primary-olive;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:o 0.8rem 0.8rem 0;
        cursor: pointer;
        outline: none;

    }

    input{
        width: calc(100% - 5.6rem) ;
        height: calc(3.7rem - 2.4rem);
        // border-radius:0.8rem 0 0 0.8rem;
        font-size: var.$font-sm ;
        color: var.$primary-grey;
        padding: 1.2rem  2rem ;
        border: 1px solid var.$transparent;
        
        &:focus {
        
        border: 1px solid var.$transparent;
      
        }

    }
    @include mobile-down{
        width: calc(45rem );
        height: 5.6rem;


        &_button{
        width: 5.6rem;
        height: 100%;
        
        

        }

        input{
            height: 100% ;
            font-size: var.$font-md ;
            box-sizing: border-box;
             
            
        }
    
    }
}
