@use '../../styles/variables' as var;
@import '../../styles/mixins';

.userDetails{
    width: calc(18rem - 4.2rem );
    padding: 2rem 2.1rem;
    height: calc(13rem - 4rem)  ;
    
    border-radius: .4rem;
    border: 1px solid var.$primary-grey-border;
    box-shadow: var.$box-shadow1;
    background-color: var.$primary-white;
    font-size: var.$font-sm;
    font-weight: var.$font-medium;
    

    ul{
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: inherit;
        


    }

    a{
        text-decoration: none;
    }
   

   
    &_icon{
        margin-right: .8rem;


    }
    @include desktop-down {
        // Tablet/mobile styles for sidebarLink
        width: 8.6rem;
        
    }

    @include mobile-down{
        display: none;
        
    }

}