@use '../../styles/variables' as var;
@import '../../styles/mixins';

.dashboardTable{

    font-size: var.$font-sm;
    color: var.$primary-grey;
    position: relative;
    
    

  
    table {
      width: 97.7rem;
      border-collapse: collapse; 
    }

    &_icon{
      cursor: pointer;
    }

    &_orgFilter{
        position: absolute;
        left: -1.5rem;
        top: 3rem;
    }

     &_userDetails{
        position: absolute;
        bottom: 3.1rem;
        // top: 19.4rem;
    }
            
    thead {
      font-size: var.$font-xs;
      font-weight: var.$font-semi-bold;
      text-transform: uppercase;
      
      th {
        text-align: left;
        padding: 0.7rem 0;
        padding-right: 3.5rem;
        white-space: nowrap;

        span {
          display: inline-flex;
          align-items: center;
          vertical-align: middle;
          margin-left: 1em; 
          
        }
         &:last-child {
          padding-right: 0;
        }
      }
    }

   
    tbody {
      tr {
        
      }
      
      td {
        padding: 2.2rem 0rem; 
        padding-right: 3.5rem;
        border-bottom: 1px solid var.$primary-blue-border;
        margin: 0;
        position: relative;
        

         &:last-child {
          padding-right: 0;
        }
      }

      tr:last-child td {
        border-bottom: none;
      }
    }
    @include desktop-down {
        
         overflow-x: scroll;
      
    }

    @include mobile-down{

      &_icon {
      
       
            width: 1.5rem;
            height: 1.5rem;
          
        
      }
      
      table {
        width: 100%;
        box-sizing: border-box;

        
       
      }

        
    }

       

}

