@use '../../styles/variables' as var;
@import '../../styles/mixins';

.generalDetails{
    width: calc(103.7rem - 6rem);
    padding: 3rem;
    background-color: var.$primary-white;
    border: 1px solid var.$primary-blue-light;
    box-shadow: var.$box-shadow1;
    margin-top: 3rem;
   
     @include desktop-down {
        // Tablet/mobile styles for sidebarLink
        width: 8.0rem;

        
    }

    @include mobile-down{
        display: none;
        
    }
}