
.App {
  text-align: center;
}


body{
  background-color: #FBFBFB;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;       /* makes text use parent font */
  color: inherit;      /* makes text color inherit */
  cursor: pointer;     /* clickable pointer */
}

input:focus {
  outline: none;
}

select:focus{
  outline: none;
}

ul, li {
  list-style: none;   /* removes bullets */
  margin: 0;          /* removes default margin */
  padding: 0;         /* removes default padding */
}

a {
  color: inherit;        /* use parent’s text color */
  // text-decoration: none; /* remove underline */
}






