
.App {
  text-align: center;
}


body{
  background-color: #FBFBFB;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;       /* makes text use parent font */
  color: inherit;      /* makes text color inherit */
  cursor: pointer;     /* clickable pointer */
}






